.light h1,
.light h3, 
.light h4 { color: #ededed; }

.light h5 { color: #dfdfbf; }

.light p { color: #dfdfbf; }

.light .slider__btn { color: #ededed; }

.light .dashed { border-color: #dfdfbf; }

.light .js-item-active, 
.light .slider__item:hover { 
    margin: 20px 4px;
    box-shadow: 0 0 6px 1px #ededed; 
}

.light .slider__item { 
    background-color: rgba(127, 169, 169, 0.6); 
    box-shadow: 0 0 6px 1px #ededed inset;
}
